body {
    margin-top: 0%;
   
}

h1{
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
    padding-top: 0%;
    background-color: #ab1a23;
    border-radius: 10px;
}

h2 {
    display: inline-block;
}
#searchSection {
    padding-left: 350px;
}

